$color-primary: #6500b0;
$color-primary-dark: #4b0082;
$color-white: #ffffff;
$color-light-grey: #d3d3d3;
$color-black: #000000;
$color-red: #ee4b2b;

$field-border-radius: 5px;

$space-xs: 4px;
$space-s: 8px;
$space-base: 16px;
$space-base-m: 20px;
$space-m: 24px;

$text-xs: 12px;
$text-s: 14px;
$text-base: 16px;
