@import "./variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.field {
  position: relative;
  margin-bottom: $space-m;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $space-s;
  height: fit-content;
  min-width: 150px;
  &.row {
    align-items: center;
    flex-direction: row;
  }
  > * {
    opacity: 0.8;
  }
}
button + button {
  margin-left: $space-m;
}
.required {
  color: $color-red;
  margin-left: $space-xs;
}
.ml-xs {
  margin-left: $space-xs;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
