

.field.checkbox-field {
  flex-direction: row;
}
.field.input-field input{
  height: 35px;
  background: transparent;
  border: 1px solid var(--color-primary);
  border-radius: var(--field-border-radius);
  color: var(--color-black);
  padding: var(--space-xs) var(--space-s);
  width: 100%;
}
.field.field.input-field input[type='color']{
  width: 50px;
}
.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--space-s);
}
.layout.col{
  flex-direction: column;
}
.layout > :not(button){
  flex: 1;
}


.dropdown-container {
  position: relative;
  display: inline-block;
  z-index: 1000;
}
.dropdown-container .dropdown-toggle {
  position: relative;
  padding: var(--space-xs) var(--space-s);
  font-size: 16px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  cursor: pointer;
  color: black;
  width: 100%;
  text-align: start;
  height: 35px;
  border-radius: 5px;
}
.dropdown-container .dropdown-toggle::after{
  content: '';
  border: solid var(--color-black);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-60%) rotate(45deg);
}
.dropdown-container[data-opened='true'] .dropdown-toggle::after{
  transform: translateY(-40%) rotate(-135deg);
}
.dropdown-container[data-opened='true'] .dropdown-toggle{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown-toggle:hover{
  background-color: var(--color-white);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  list-style: none;
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  border-top: none;
  border-bottom-left-radius: var(--field-border-radius);
  border-bottom-right-radius: var(--field-border-radius);
}

.dropdown-menu li {
  padding: var(--space-s) var(--space-base);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: var(--color-light-grey);
}
.text-red{
  color: var(--color-red);
}
.error{
  color: var(--color-red);
  font-size: 12px;
  position: absolute;
  bottom: -20px;
}