@import "/src/sass/variables";
.error {
  color: $color-red;
  font-size: $text-s;
  position: absolute;
  bottom: -$space-base-m;
  &[class*="marginLarge"] {
    top: 100%;
    bottom: -$space-base-m;
  }
  &[class*="marginSmall"] {
    bottom: -$space-s;
  }
}
